@import "tailwindcss";

body {
  background-color: #1e1033;
  color: #171026;
}

.grid-bg-lavender {
  background-color: #fbf9ff;
  background-image: 
    linear-gradient(#e9e4f5 1px, transparent 1px),
    linear-gradient(90deg, #e9e4f5 1px, transparent 1px);
  background-size: 50px 50px;
}

/*CUSTOM SCROLLBAR TO MATCH THE AESTHETIC */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #171026;
}
::-webkit-scrollbar-thumb {
  background: #7b46ea;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #9b72ec;
}